@import "tailwindcss";

[data-theme="zenzakan"] {
  --primary: #7a0000;
  --secondary: #111111;
  --accent: #c8a24a;

  --background: #050505;
  --foreground: #f5efe5;

  --muted: #999999;
  --border: rgba(200, 162, 74, 0.2);
}

@theme {
  --font-heading: var(--font-heading);
  --font-body: var(--font-body);
  --breakpoint-3xl: 120rem; /* 1920px */
}

@utility scrollbar-hidden {
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
